<% content_for :page_title do %>
  <%= t('.edit_upload') %>
<% end %>

<%= render :partial => 'spree/admin/shared/error_messages', :locals => { :target => @upload } %>

<%= form_for([:admin, @upload], :html => { :multipart => true }) do |f| %>
  <fieldset>
    <p>
      <% if @upload.image_content? %>
        <b><%= t('.preview') %>:</b><br/>
        <%= link_to image_tag(@upload.attachment.url(:small)), @upload.attachment.url(:original) %>
      <% else %>
        <b><%= t('.link') %>:</b><br/>
        <%= link_to @upload.attachment_file_name, @upload.attachment.url %>
      <% end %>
    </p>

    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
